<%- include("header") -%>
<section class="bg-game" style="height: 1000px">
    <nav class="navbar navbar-game navbar-expand-lg navbar-light">
      <div class="container-fluid p-0">
        <a href="/" class="logo-back mx-3">
          <img src="assets/assets/back-logo.png" alt="back" />
        </a>
        <img
          src="assets/assets/game-logo.png"
          alt="logo-game"
          class="my-3 mx-3"
        />
        <div
          class="collapse navbar-collapse"
          style="font-size: 36px; color: #f9b23d"
        >
          ROCK PAPER SCISSORS
        </div>
      </div>
    </nav>
    <div class="row content-game justify-content-center">
      <div class="col-md-3">
        <div class="player1 mb-5">PLAYER 1</div>
        <div class="img-game mb-5">
          <button class="btn-batu-player1" type="button" id="batu">
            <img src="assets/assets/batu.png" alt="batu" class="batu-img" />
          </button>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <div class="com mb-5 d-flex px-5 justify-content-end">COM</div>
        <div class="img-game-com mb-5 d-flex justify-content-end">
          <button class="btn-batu-com" type="button" id="batu">
            <img
              src="assets/assets/batu.png"
              alt="batu-com"
              class="batu-img"
            />
          </button>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-3 mb-5">
          <button class="btn-kertas-player1" type="button" id="kertas">
            <img src="assets/assets/kertas.png" alt="" class="kertas-img" />
          </button>
        </div>
        <div class="col-md-2 d-flex justify-content-center" id="resultPic">
          <div class="text-versus" style="font-size: 144px; color: #bd0000">
            VS
          </div>
          <div class="resultPic"></div>
        </div>

        <div class="col-md-3 d-flex justify-content-end">
          <div class="img-batu-com mb-5">
            <button type="button" class="btn-kertas-com" id="kertas">
              <img
                src="assets/assets/kertas.png"
                alt="kertas-com"
                class="kertas-img"
              />
            </button>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-3">
          <button class="btn-gunting-player1" type="button" id="gunting">
            <img
              src="assets/assets/gunting.png"
              alt="gunting"
              class="gunting-img"
            />
          </button>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3 d-flex justify-content-end">
          <div class="img-gunting-com mb-5">
            <button class="btn-gunting-com" type="button" id="gunting">
              <img
                src="assets/assets/gunting.png"
                alt="gunting-com"
                class="gunting-img"
              />
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <button class="btn-refresh-game">
            <img
              src="assets/assets/refresh.png"
              alt="refresh-game"
              class="refresh-img"
            />
          </button>
        </div>
      </div>
    </div>
  </section>
  <script src="game-suit.js"></script>
</body>
</html>
