<%- include("header") -%>

<section class="login-page">
  <div class="container-fluid p-0">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 p-0">
        <div class="img-login">
          <img src="../assets/login.jpg" class="img-login" alt="" />
        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="wrapper my-5">
          <div class="d-flex justify-content-center" style="font-size: 20px">
            Sign Up
          </div>
          <h1 class="line-separator-login"></h1>
          <div class="form-login">
            <form action="/login" method="POST">
              <label for="firt-name" class="form-label mt-2 mb-2"
                >Firt Name</label
              >
              <span class="text-danger">*</span>
              <input
                id="first-name"
                class="form-control mb-3"
                type="text"
                name="first-name"
                required
              />
              <label for="last-name" class="form-label mt-2 mb-2"
                >Last Name</label
              >
              <input
                id="last-name"
                class="form-control mb-3"
                type="text"
                name="last-name"
              />
              <label for="mobile-number" class="form-label mt-2 mb-2"
                >Mobile Number</label
              >
              <span class="text-danger">*</span>
              <input
                id="mobile-number"
                class="form-control mb-3"
                type="text"
                name="mobile-number"
                pattern="[0-9]{10}"
                inputmode="numeric"
                required
              />
              <label for="email" class="form-label mt-2 mb-2">E-mail</label>
              <span class="text-danger">*</span>
              <input
                id="email"
                class="form-control mb-3"
                type="email"
                name="email"
                required
              />
              <label for="password" class="form-label mt-2 mb-2"
                >Password</label
              >
              <span class="text-danger">*</span>
              <input
                id="password"
                class="form-control mb-3"
                type="password"
                name="password"
                required
              />
              <label for="password" class="form-label mt-2 mb-2"
                >Confirm Password</label
              >
              <span class="text-danger">*</span>
              <input
                id="password"
                class="form-control mb-3"
                type="password"
                name="password"
                required
              />
              <button class="btn btn-login mt-3" type="submit">Sign Up</button>
            </form>

            <div class="line-separator-login"></div>
            <p class="mt-2 d-flex justify-content-center">
              Already have an account?
              <a class="mx-2" style="color: blue" href="login">Login</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
